MARIADB_ROOT_PASSWORD=cambia_esta_clave
MARIADB_DATABASE=incamant
MARIADB_USER=incamant_app
MARIADB_PASSWORD=cambia_esta_clave
DB_HOST=mariadb
DB_PORT=3306
DB_NAME=incamant
DB_USER=incamant_app
DB_PASSWORD=cambia_esta_clave
PORT=3000
